@import url(https://fonts.googleapis.com/css?family=Lexend%20Deca);

:root {
    --font: "Lexend Deca";
    --izone: #ef539d;
}

html {
    /* overflow-y: scroll;  */
    scrollbar-gutter: stable;
}

/* body {
    font-family: 'Lexend Deca';
} */